
*.xml
*.pyc
*.iml
*.csv
*.pt
*.mat
*.pdf
*.txt
Decision_Making_Analysis/G2H1_trained_tree_structure
Decision_Making_Analysis/G2H2_trained_tree_structure
Decision_Making_Analysis/G2HIntegrate_trained_tree_structure
*.p
Plotting_code/.ipynb_checkpoints/chasing_ghost-checkpoint.ipynb
Decision_Making_Analysis/G2H_selected_trained_tree_structure
*.zip
Decision_Making_Analysis/G2H_wihtout_fail_trained_tree_structure
*.pkl
*.mp4
Utility_Tree_Analysis/stimulus_data/global-graze/result_episode_000000.avi
*.avi
*.7z
*.npy
*.jpg
